<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <title>Document</title>
</head>
<body>
  <form method="GET" action="{ url 'cars_list' %}">
    <input type="text" name="search" placeholder="Buscar carro...">
    <button type="submit">Buscar</button>
  </form>
  <div class="car-grid">
    {% if cars %}
      {% for car in cars %}
        <div class="car-card">
          <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
          <h2>{{ car.brand }} - {{ car.model }}</h2>
          <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-result">Nenhum carro encontrado.</p>
    {% endif %}
  </div>  
</body>
</html>



